<!DOCTYPE html>
<html>
  <head>
    <title>Monitor Manager</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/application.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <%= yield %>
      <hr>

      <footer>
        <p>&copy; Monitor Manager 2012</p>
      </footer>

    </div> <!-- /container -->

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>
